.user-profile-content {
    background-image: url('/public/assets/img/StaryBackground.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
  }
  
  .profile {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .profile p {
    color: black;
    font-size: 20px;
    margin: 10px 0;
  }
  
  .profile .link {
    color: #fff;
    text-decoration: none;
    background-color: rgb(68, 133, 237);
    padding: 8px 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
  }
  
  .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 20px;
    display: block;
  }