.userInfo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  overflow: hidden;
  align-items: center;
  h1 {
    color: #f9004d;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: auto;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin-left: 40px;
  margin-top: 20px;
  justify-content: space-around;
}
